<%= form_tag @cur_part.parent.url, method: "get" do |f| %>
  <h2><%= t("modules.addons.cms/weather") %></h2>
  <div class="weather">
    <% %w(sunny cloudy rain snow).each do |code| %>
      <label><%= check_box_tag 'weathers[]', code %><%= t("cms.options.weather.#{code}") %></label>
    <% end %>
  </div>
  <footer class="send">
    <%= submit_tag t("ss.buttons.search"), name: nil %>
    <%= button_tag t("ss.buttons.reset"), type: "reset", name: nil %>
  </footer>
<% end %>
